---
// astro image libary imports
import { Image } from "@astrojs/image/components";
import { navMenu } from "../../data/data";
import cart from "../assets/cart.svg";
import heart from "../assets/heart.svg";
import logo from "../assets/jordan.svg";
---

<header aria-label="Header section">
  <nav class="nav-section">
    <div class="logo">
      <a href="#">
        <Image src={logo} alt="Logo" typeof="webp" />
      </a>
    </div>
    <div class="navigation">
      <ul>
        {
          navMenu.map((listItem) => (
            <li>
              <a href={listItem.link}>{listItem.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="icons">
      <a href="#"><Image src={cart} alt="" width={20} /></a>
      <a href="#"><Image src={heart} alt="" width={20} /></a>
    </div>
  </nav>
</header>

<style>
  .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--clr-white);
    width: 90%;
    margin-inline: auto;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    width: 100px;
  }

  .navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation li {
    margin-right: 20px;
  }

  .navigation li:last-child {
    margin-right: 0;
  }

  .navigation a {
    text-decoration: none;
    color: #333;
  }

  .icons a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
  }
</style>
