---
// astro image libary imports
import { Image } from "@astrojs/image/components";
import { navMenu } from "../../data/data";
import cart from "../assets/cart.svg";
import heart from "../assets/heart.svg";
import logo from "../assets/jordan.svg";
---

<header aria-label="Header section">
  <nav class="nav-section">
    <div class="logo">
      <a href="#">
        <Image src={logo} alt="Logo" typeof="webp" />
      </a>
    </div>
    <div class="navigation">
      <ul>
        {
          navMenu.map((listItem) => (
            <li>
              <a href={listItem.link}>{listItem.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="icons">
      <a href="#"><Image src={cart} alt="" width={20} /></a>
      <a href="#"><Image src={heart} alt="" width={20} /></a>
    </div>

    <div class="menu">
      <span class="openMenu active">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#252525"
          viewBox="0 0 256 256"
          ><path
            d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"
          ></path></svg
        >
      </span>

      <span class="closeMenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#252525"
          viewBox="0 0 256 256"
          ><path
            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
          ></path></svg
        >
      </span>
    </div>
  </nav>
</header>

<style>
  .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--clr-white);
    width: 90%;
    margin-inline: auto;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    width: 100px;
  }

  .navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation li {
    margin-right: 20px;
  }

  .navigation li:last-child {
    margin-right: 0;
  }

  .navigation a {
    text-decoration: none;
    color: #333;
  }

  .icons a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
  }
  .menu {
    display: none;
  }

  @media (max-width: 600px) {
    .menu {
      display: block;
    }
    .openMenu {
      display: none;
    }
    .openMenu.active {
      display: block;
    }
    .closeMenu {
      display: none;
    }

    .navigation ul,
    .icons {
      display: none;
    }
  }
</style>

<script accesskey="">
  const menu = document.querySelector(".menu");
  const openBtn = document.querySelector(".openMenu");
  const closeMenu = document.querySelector(".closeMenu");
  openBtn.addEventListener("click", () => {
    openBtn.classList.toggle("active");
    closeMenu.classList.toggle("active");
    console.log("clicked");
  });
</script>
